.hero h1 {
  font-size: 70px;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  display: block;
  -webkit-margin-before: 0.67em;
  webkit-margin-after: 0.67em;
  webkit-margin-start: 0px;
  webkit-margin-end: 0px;
}
.btn-nav {
  font-size: 18px;
  color:white;
}
a: webkit-any-link {
  cursor: auto;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
