.hero h1 {
  font-size: 70px;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  display: inline-block;
  font-size: 2.5em;
  -webkit-margin-before: 0.67em;
  webkit-margin-after: 0.67em;
  webkit-margin-start: 0px;
  webkit-margin-end: 0px;
  background-color: black;
}
.btn-nav {
  font-size: 22px;
  color:white;
  background-color: black;
}
h2 {
  image: image(./resources/images/Broadway4Edit2.jpg);
}
a: webkit-any-link {
  cursor: auto;
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
:focus {
  outline: webkit-focus-ring-color-auto5px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}
  body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: white;
    color: white;
  }
    body {
      background-image: image(./resources/images/Broadway4Edit.jpg);
      background-repeat: no-repeat;
      background-size: 1370px 350px;
    }
  body {
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
  }
.hero h2 {
  font-size: 23px;
  font-weight: bold;
  background-image: image(./resources/images/Broadway4Edit.jpg);
  background-size: 1380px 27px;
}
h2 {
  display: block;
  font-size: 32px;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: black;
  background-color: white;
}
.supporting {
  text-align: center;
  color: black;
}
